@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color:#464E5F;
}

a{
    text-decoration: none;
    color:inherit;
}
a:hover{
    text-decoration: underline;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .loginFormDiv {
    background-color: white;
    width: 35%;
    height: 60%;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .formLogin {
    position: relative;
    width: 100%;
    height: 90%;
    margin-top: 20px;
  }
  
  .Username,
  .Password {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .Username label,
  .Password label {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
 
  .whiteBoard{
    display: inline-block;
    width: auto;
    padding:2% 5%;
    box-shadow: 0px 0px 6px #00000020;
  }

h2{
    text-align: left;
}

  .box {
    flex: 1;
    height: 40px;
    padding: 2%;
    padding-left: 4%;
    background: #f5f8fa;
    border-radius: 6px;
    width: 100%;
    border: none;
    font-size: 1em;
  }
  
  .box-wrapper {
    display: flex;
    width: 80%;
  }
  
  
  .submit {
    font: inherit;
    padding: 4%;
    background-color: #00a3ff;
    border-radius: 6px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: auto;
    position: absolute;
    bottom: 20%;
    width: 100px;
    transform: translateX(-50%);
  }
  
  
  .Password {
    margin-bottom: 20%;
  }
  
  .error{
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    color: #a30000;
    margin-top:2%;
    font-weight: 600;
  }

table {
    /* border-collapse: collapse; */
    margin: 2% auto;
}
td, th {
    padding: 20px;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    font-family: inherit;
}
thead tr:hover {
    background-color: #F5F8FA;
    color:#464E5F;
  }
thead tr {
    border-radius: 6px;
    background-color: #F5F8FA;
    color:#464E5F;
}

tr:hover {
    background-color: #0081cc;
    color:white;
}

tr:hover .price {
    background-color: #a20202;
    color:white;
  }


.price {
    font-weight: bold;
    color: #a20202;
}

.id{
  display: none;
}

.Product{
    font-weight: 600;
    text-align: left;
    padding-left: 2%;
    font-size:20px;
}

.searchBar{
  text-align: left;
}

.searchBar input{
  font-family: inherit;
  color: inherit; 
  background-color:#F5F8FA;
  border:none;
  padding: 2%;
  border-radius: 6px;
}

.sendButton:hover{
  background-color: #0081cc;
  color:white;
  font-weight: 600;
}

.clearButton:hover{
  background-color: #a20202;
  color:white;
  font-weight: 600;
}

.modal {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 999;
  width: 40%;
  padding: 3% 5%;
  height: 70%;
  box-shadow: 0 0 10px black ;
  text-align: left;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #464e5f90;
  z-index: 998;
}

#chart_div{
  width: 500px;
  height: 500px;
}

@media (max-width:800px) {
    .media{
        display:none;
    }
}

@media (max-width:450px) {
    .mediaS{
        display:none;
    }
}